body{
    background-image: url("../img/fondito.jpg")

}
.cabecera{
    background-color: #CDBB79;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    height: 200px;
}
.imagen1 {
    width: auto;
    height: 200px;
    float: left;
}

.t1{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #06425C;
    position: absolute;
    top: 50px;
    left: 250px;
    float: left;
    margin: 0 px;
    margin-top: 25px;

}

.t2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #51A39D;
    float: left;
    position: absolute;
    top: 40px;
    left: 480px;
    margin: 0 px;
    margin-top: 105px;

}

.t3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #51A39D;
    float: left;
    position: absolute;
    top: 70px;
    left: 350px;
    margin: 0 px;
    margin-top: 125px;

}

.t4{
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #06425C;
    position: absolute;
    top: 80px;
    left: 200px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.t5{
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #06425C;
  position: absolute;
    top: 120px;
    left: 450px;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.menu{
    margin: 0px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
    height: 20px;
  }
  
  ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 	#B7695C;
    float: left;
}

li {
    float: left;

}

li a {
    display: block;
    margin-top: 00px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-right: auto;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    width: fit-content;
}

li a.active {
    background-color: #F2F2F2;
    color: black;
}
li a:hover:not(.active) {
  background-color: #06425C;
  color: white;
}

a{
    margin: 0px;
    font-family: 'Helvetica';
    font-size: 12px;
    color: black;
    margin: 40px;
  }

em{
  text-align: center;
}

  .copinion{
    width:auto;
    height: 350px;
    margin-top: 0px;
    background-color: #06425C;
    margin-left: 5px;
    margin-right: 5px;
  }
  .contenedor{
    margin-top: auto;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    height: auto;
    margin-bottom: 60px;
    text-align: center;
    background-color:#CDBB79;
  }

  .texto1{
    color: #06425C;
    font-family: 'Helvetica';
    margin: 0px;
    font-size: 34px;
  }

  h1{
      color:  #F2F2F2;

  }
  .tbiografia{
    color:  black;
    text-align: justify;
    margin: 15px;
  }

  .texto{
    width: auto;
    height: 300px;
    background-color: #CDBB79;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .resena{
    width: auto;
    height: 300px;
    background-color: #CDBB79;
    margin-top:100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  .glosario{
    width: auto;
    height: 300px;
    background-color: #CDBB79;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  .tcuento{
    color:  black;
    text-align: justify;
    margin: 15px;
  }
  